#titre {
    color : aquamarine;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
} 

#titre2 {
    color : aquamarine;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
} 

#travail {
    color : aquamarine;
    background-color: black;
} 
#pause {
    color : aquamarine;
    background-color: black;
} 
#start {
    color : aquamarine;
} 
#restart {
    color : aquamarine;
} 

main {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

footer{
    display: flex;
    background-color: black;
    width: 100%;
    min-height: 5%;
    color: aquamarine;
    justify-content: center;
    align-items: center;
}